<section id="section-gallery" class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <h2 class="gallery__title">Smile Gallery</h2>
                <p class="gallery__copy">View a gallery of amazing smile transformations. Whether you need a full-mouth restoration or a quick smile-whitening we can help you to achieve the smile you've always dreamed of having.</p>
                <a class="btn btn--style-three" href="#" data-target="#smile-gallery-modal" data-toggle="modal">View Smile Gallery</a>
            </div>
        </div>
    </div>
    <div class="mobile-insurance-fix">
        <img src="/assets/smile-gallery-mobile.jpg" alt="A great smile">
    </div>
</section>