a.btn,
button.btn {
  font-family: $ff-roboto-condensed;
  font-weight: 400 !important;
  letter-spacing: 1px;

  background-color: #718F11;
  color: $c-white;
  border-radius: 8px;
  &:hover, &:focus {
    background-color: darken(#718F11, 15% );
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.36);
    transition: all .3s ease;
    //transition: background-color .3s ease;
    text-decoration: none;
    color: $c-white;
  }

  &.btn--style-two {
    background-color: #D8541E;
    &:hover, &:focus {
      background-color: darken(#D8541E, 15% );
      box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.36);
    }
  }

  padding: $spacing-sm $spacing-md;

  font-size: 17px;
  @media screen and (max-width: $width-sm) {
    font-size: 16px;
  }

  &.shadowed {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
  }

  &.form-btn {
    width: 100%;

  }

}


button.btn-style-2 {
  color: #67250d;
  background: #fbad17;
  border: 2px solid #67250d;
}

button.btn {
  text-transform: uppercase;
}