<div class="associations-carousel">
    <div class="container">
        <div class="associations-carousel--wrapper">
            <div class="owl-carousel js-associations-carousel">
                <div class="logo--wrapper"><img src="assets/associations/agd-master.png" alt="agd master"></div>
                <div class="logo--wrapper"><img src="assets/associations/kois-graduate.png" alt="Kois Graduate"></div>
                <div class="logo--wrapper"><img src="assets/associations/ada-logo_gs.png" alt="American Dental Association"></div>
                <div class="logo--wrapper"><img src="assets/associations/multnomah-dental-society.png" alt="Multnomah Dental Society"></div>
                <div class="logo--wrapper"><img src="assets/associations/american-board-operative-dentistry.png" alt="American Board of Operative Dentistry"></div>
                <div class="logo--wrapper"><img src="assets/associations/oregon-dental-association.png" alt="Oregon Dental Association"></div>
                <div class="logo--wrapper"><img src="assets/associations/docs-sedation.png" alt="DOCS Sedation"></div>
                <div class="logo--wrapper"><img src="assets/associations/delta-sigma-delta.png" alt="Delta Sigma Delta"></div>
                <div class="logo--wrapper"><img src="assets/associations/ohsu-restorative.png" alt="OHSU School of restorative dentistry"></div>
            </div>
        </div>
    </div>
</div>
