#section-services {
  background-image: url('/assets/services-section.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% center;
  padding-bottom: 30px;
  @media (max-width: $width-sm - 1) {
    background-image: none;
    background-color: #ffffff;
  }
  .mobile-services-image {
    display: none;
    @media (max-width: $width-sm - 1) {
      margin-top: -100px;
      display: block;
    }
  }

  .heading {
    text-align: center;
    h2 {
      color: #718F11;
      margin-bottom: 10px;
      padding-top: $spacing-md;
      padding-bottom: $spacing-sm;
    }
    p {
      line-height: 1.2;
      margin-bottom: 45px;
      a {
        color: #718f11;
        text-decoration: underline;
      }
    }
  }

  .services--additional {
    //override bootstrap grid gutters
    .col-sm-6, .col-md-3 {
      padding-left: 0;
      padding-right: 0;
      position: relative;
      @media screen and (max-width: $width-sm) and (min-width: 550px) {
        width: 50%;
        float: left;
      }
    }

    img {
      width: 100%;
    }

    .services--thumbnail-text {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 10px;
      h6 {
        a { @include link-color(#718F11); }
        color: #718f11;
        padding-left: 10px;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 5px;
        @include font-size(28px, 25px, 28px, 25px, 20px);
        font-family: $ff-mont;
        font-weight: 700;
        line-height: 1;
      }
      .services-plus {
        font-family: $ff-roboto-condensed;
        font-weight: 400;
        color: #444444;
        font-size: 18px;
        padding-left: 10px;
      }
    }
  }

  .service-card:hover {
    .image-link {
      @include hover-plus();
    }
    h6 {
      color: #718f11;
      text-decoration: underline;
    }
    .services-plus {
      text-decoration: underline;
    }
  }

}
